/*Dhvanil Patel
Dhvanil_patel@live.com
UMass Lowell in course 91.461 GUI Programming I
Started: 10/21/2014, last updated: 10/25/2014
filename: assignment6Style.css
*/
#button {
    width:100px;
    height:30px;
    text-align:center;
    color:#000;
    font-size:14px;
}

#button:active {
    background-color:lightblue;
}

/*Making filedset float to left*/
fieldset {
    float:left;
}